// ****************************** //
@import "../../../../../dist/scss/variables.scss";

// ****************************** //
h1 {
  margin: 0px;
  border-radius: 5px;

  width: 100%;
  padding: 15px 0;

  text-align: center;
  font-size: 18px;
  color: $secondary-text-color;

  background: $tertiary-background-color;
  background-size: 300% 300%;
  //'colors' se refere a uma animação implementada no arquivo de variáveis
  animation: colors 15s ease infinite;
}
