// ****************************** //
@import "../../../../../dist/scss/variables.scss";

// ****************************** //
h1 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  text-align: center;
  font-size: 18px;
  color: $secondary-text-color;

  background: $tertiary-background-color;
  background-size: 300% 300%;
  //'colors' se refere a uma animação implementada no arquivo de variáveis
  animation: colors 15s ease infinite;
}