// ****************************** //
@import "../../../../../dist/scss/variables.scss";

.btn_remov_secao {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  // text-align: center;
}

button {
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: $danger-color;

  font-size: 16px;
  color: $secondary-text-color;
  width: 60%;
  padding: 10px;
  margin-bottom: 10px !important;
}

.btn_limpar_secao {
  width: 35%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
  margin-right: 0.1rem;
}

.btn_excluir_secao {
  width: 35%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 15px;
  margin-left: 0.1rem;
}

@media screen and (max-width: 768px) {
  .btn_limpar_secao {
    font-size: 12px !important;
  }
  .btn_excluir_secao {
    font-size: 12px !important;
  }
}