<section class="container">
  <div class="header-div">
    <div style="margin-left: 1rem">
      <i
        (click)="exportarLista()"
        class="pi pi-cloud-upload"
        style="font-size: 2rem; cursor: pointer"
      ></i>
    </div>
    <div class="div-title">
      <p class="title">To-Do List</p>
    </div>
    <div style="margin-right: 1rem">
      <i
        (click)="fileInput.click(); fileInput.value = ''"
        class="pi pi-cloud-download"
        style="font-size: 2rem; cursor: pointer"
      >
        <input
          type="file"
          (change)="importarLista($event)"
          style="display: none"
          #fileInput
        />
      </i>
    </div>
  </div>
  <div class="container-add-section row">
    <input
      placeholder="Informe a nova seção..."
      [(ngModel)]="sectionName"
      (keyup.enter)="addSection()"
      class="input-section"
    />
    <button (click)="addSection()" class="btn btn-section">+</button>
  </div>
</section>

<section class="container_2" *ngFor="let section of sectionList; let i = index">
  <app-todo-list
    (emitter)="receptor($event)"
    [section]="section"
  ></app-todo-list>
  <div class="btn_remov_secao" *ngIf="!section.list?.length">
    <button (click)="deletarSecao(i)">Excluir Seção</button>
  </div>
  <div class="btn_remov_secao" *ngIf="section.list?.length">
    <button (click)="limparSecao(i)" class="btn_limpar_secao">
      Limpar Seção
    </button>
    <button (click)="deletarSecao(i)" class="btn_excluir_secao">
      Excluir Seção
    </button>
  </div>
</section>
