// ****************************** //
@import "../../../../../dist/scss/variables.scss";

.btn_remov_secao {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  // text-align: center;
}

.input-section {
  width: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0px;
}

.btn-section {
  min-height: 100%;
  margin: 0px !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  width: 13% !important;
  padding: 0px;
  font-size: 32px;
  background-color: #198754 !important;
  background: linear-gradient(to left, transparent 80%, rgba(255, 255, 255, 1));
}

.container-add-section {
  display: flex;
  flex-direction: row;
}

button {
  display: inline-block;
  border: none;
  border-radius: 50px;
  background-color: $danger-color;

  font-size: 15px;
  color: $secondary-text-color;
  width: 60%;
  padding: 10px;
  margin-bottom: 10px !important;
}

.btn_limpar_secao {
  width: 35%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0.1rem;
}

.btn_excluir_secao {
  width: 35%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0.1rem;
}

@media screen and (max-width: 768px) {
  .btn_limpar_secao {
    font-size: 12px !important;
  }
  .btn_excluir_secao {
    font-size: 12px !important;
  }
}
